@font-face {
    font-family: 'sf_pro_displaysemibold';
    src: url('../fonts/sf-pro-display-semibold-webfont.woff2') format('woff2'), url('../fonts/sf-pro-display-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "sf_pro_displaysemibold", sans-serif;
    font-weight: normal !important;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: #9E342F !important;
    margin: 0;
    padding: 0;
    z-index: 999 !important;
}

#loader .center-loader {
    position: fixed;
    left: 45%;
    top: 45%;
    margin-top: -100px;
    margin-left: -100px;
}

#loader .vertical-center {
    /* min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center; */
}

#loader .horizontal-center img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border: 0;
    margin: 0 !important;
    z-index: 998 !important;
}

.divider-white {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    /* border-left: 1px solid #f2f2f2; */
}

.navbar-label {
    font-weight: bold;
    color: black !important;
}

.navbar-calendar {
    background-color: rgba(255, 255, 255, 0.5);
    color: #9E342F !important;
    border-radius: 0;
    margin-top: 0.7em;
}

.navbar-book {
    font-weight: bold;
    color: #ffffff !important;
}

.navbar-book:hover {
    cursor: pointer;
}

.jumbotron {
    height: 100vh;
    margin: 0;
    padding: 0;
    /* background-color: rgba(0, 0, 0, 0) */
}

.jumbo-1 {
    background-image: url("../images/jumbo-1.jpg") !important;
    background-attachment: fixed;
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}

.jumbo-1 .center-loader {
    /* position: fixed;
    left: 45%;
    top: 45%;
    margin-top: -100px;
    margin-left: -100px; */
}

.jumbo-1 .vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* padding-bottom: 20em !important; */
}

.jumbo-1 .horizontal-center img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.jumbo-2 {
    text-align: center;
    background-image: url("../images/jumbo-2.jpg") !important;
    /* background-attachment: fixed; */
    background-repeat: no-repeat, repeat;
    background-position: center !important;
    background-size: cover !important;
    color: #ffffff;
}

.jumbo-2 .vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.jumbo-2 .horizontal-center {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.jumbo-3 {
    background-color: #FFF3E3;
}

.jumbo-3 .vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0;
}

.jumbo-3 .col-mini {
    color: #ffffff;
    padding: 1em;
    /* margin: 1px; */
}

.jumbo-3 .col-mini img {
    max-width: 98px !important;
    height: 74px !important;
}

.jumbo-3 .col-top-left .container {
    padding: 1em;
    background-image: url("../images/wedding.jpg") !important;
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}

.jumbo-3 .col-top-right .container {
    padding: 1em;
    background-image: url("../images/spa.jpg") !important;
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}

.jumbo-3 .col-bottom-left .container {
    padding: 1em;
    background-image: url("../images/restaurant.jpg") !important;
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}

.jumbo-3 .col-bottom-right .container {
    padding: 1em;
    background-image: url("../images/coffee.jpg") !important;
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}

.jumbo-4 {
    background-color: #FFF3E3;
}

.jumbo-4 .vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0;
}

.jumbo-4 .col-room {
    margin: 0;
    padding: 10px;
    text-align: center;
}

.jumbo-4 .container-grid {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
    /* margin-top: -50px; */
    /* padding: 50px 0 0 0; set left/right padding according to needs */
    box-sizing: border-box !important;
}

/* .jumbo-4 .row-grid {
    height: 100% !important;
    display: table-row !important;
}
.jumbo-4 .row-grid .no-float {
    display: table-cell !important;
    float: none !important;
} */

.jumbo-4 .col-room img {
    border: 1px solid black;
}

.jumbo-4 .col-room {
    /* border: 1px solid black; */
    /* margin: 1em; */
    /* padding: 0; */
    /* padding: 1em !important; */
}

.jumbo-4 .col-room {
    /* border: 1px solid black; */
    /* margin-top: 1em;
    margin-bottom: 1em; */
    /* margin-right: 1em; */
    /* padding: 1em; */
    /* height: 100% !important;
    display: table-cell;
    float: none; */
}

.jumbo-5 {
    width: 100% !important;
    height: 100vh !important;
}

.jumbo-6 {
    height: auto !important;
    background-color: #FFF3E3 !important;
    color: #ffffff;
}

.jumbo-6 ul,
.jumbo-6 ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.jumbo-6 ul li,
.jumbo-6 ol li {
    margin-bottom: 0.7em;
}

.jumbo-6 .vertical-center {
    min-height: 100%;
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    padding: 0;
    /* padding-bottom: 20em !important; */
}

.jumbo-6 .horizontal-center img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.jumbo-6 .container-fluid {
    margin: 0;
    padding: 0;
}

.jumbo-6 .copyright {
    width: 100%;
    text-align: center;
    color: #000000;
}

.jumbo-6 .footer {
    /* margin-top: 70vh; */
    /* position: relative;
    bottom: 0; */
    background-color: #9E342F;
}

.jumbo-6 .fp-tableCell {
    height: auto !important;
    vertical-align: bottom;
}

.jumbo-6 .col-md-4 {
    height: 100%;
    margin: 1em 0;
}

/* image hover css */

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.hovereffect a,
.hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.hovereffect:hover a,
.hovereffect:hover p,
.hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}